{% extends "ct_core/base.html" %}
{% block title %}Sobre Nós - CT Lucas Silva{% endblock %}

{% block content %}
    <section class="section-padded">
        <h1 class="section-title">Nossa História e Filosofia</h1>
        <div class="text-center" style="max-width: 800px; margin: 0 auto;">
            <p>
                O CT Lucas Silva é mais do que uma academia, é um centro de formação de atletas e cidadãos. 
                Com uma história baseada na dedicação ao Jiu-Jitsu Brasileiro, nosso foco é transmitir a técnica 
                completa e os valores de disciplina, respeito e perseverança. 
            </p>
            </div>
    </section>
{% endblock %}